<div>
    <article>
        <h1>{{title}}</h1>
        <p>We’re a lean team of accessibility specialists changing the definition of accessibility on the web. Our skilled team trains, tests, and teaches as your equal partner. Together we’re making the web better.</p>
        <p>At Simply Accessible, we understand accessibility. Our focus is on people over compliance. Let’s have a conversation about better design that pushes us to reinvent our approach to challenges that good people live with every day. The digital world belongs to everyone. We want to you to believe in your power to make it something special.</p>
        <p><a href="http://www.simplyaccessible.com/">www.simplyaccessible.com</a></p>
        <p>
            <strong>Telephone: +1 613 627-2468</strong>
            </br>
            <strong>Toll free (North America): 1-866-639-2468</strong>
        </p>
    </article>
</div>